* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-width: 320px; /* Устанавливаем минимальную ширину в 320 пикселей */
    height: 100%;
  
}

.page {
    height: 105vh; /* высота вьюпорта минус хеддер */
    display: flex; /* используем flex для вертикального выравнивания элементов */
    justify-content: center; /* выравнивание содержимого по центру */
    align-items: center; /* выравнивание содержимого по вертикали */
   
}

.page {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.page.visible {
    opacity: 1;
    transform: translateY(0);
}

